.App {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEE1EF;
}

.btn {
    border-radius: 12px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
}

.light {
    background-color: #5A5D6C;
    color: #DEE1EF;
}

.dark {
    background-color: #3D3F4A;
}

.calculator-container {
    background-color: #23242A;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    row-gap: 20px;
    width: 365px;
    height: auto;

}

.operations {
    width: 240px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 50px;
    border-radius: 12px;
    align-items: center;
}

.operations p {
    grid-column: 2 / 3;
    margin: 0;
    text-align: center;
}

.operations img {
    margin-left: 10px;
}

.show-graph {
    width: 110px;
}

.upper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.header p {
    margin: 0;
    color: #DEE1EF;
}

.display-container {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    color: #DEE1EF;
}

.lower-container {
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}